body, html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
}

header {
  background-image: url("../img/amsterdam.png");
  background-color: pink;
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title h1 {
  color: red;
  font-size: 3em;
  margin: 8%;
  position: absolute;
  background-color: black;
  padding: .25em;
}

p {
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: grey;
  width: 60%;
  min-height: 300px;
  padding: 30px;
  margin: 30px;
  border: solid 1px #444444;
  font-size: 20px;
}
