body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
  background-color: #82cce4;
}

header {
  background-image: url("../img/amsterdam.png");
  background-color: pink;
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title span {
  color: #de1c36;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  background-color: black;
  padding: .25em;
  top: 10%;
  left: 10%;
}

#content {
  background-color: #f2f1e6;
  width: 90%;
  min-height: 300px;
  padding: 1em;
  margin: auto;
  border: solid 1px #444444;
  font-size: 20px;
}

#labs {
  background-color: #f2f1e6;
  width: 90%;
  min-height: 30px;
  padding: 1em;
  margin: 1em auto 1em auto;
  border: solid 1px #444444;
  font-size: 20px;
}
