body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #035682;
  text-transform: lowercase;
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

header {
  background-image: url("../img/amsterdam.png");
  background-color: pink;
  height: 15em;
  width: 96%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1.5em auto 1em auto;
  border: solid 0.25em black;
}

#title {
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center
}

#title span {
  color: #d4000c;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  background-color: black;
  padding: .25em;
}

#content {
  background-color: #faeacd;
  padding: 1em;
  width: 93%;
  border: solid 0.2em black;
  font-size: 1.25em;
  margin: 1em auto;
}

nav {
  background-color: #faeacd;
  padding: 1em;
  width: 93%;
  margin: 1em auto;
  font-size: 1.25em;
  border: solid 0.2em black;
}

.nav-row {
 display: flex;
}

.nav-column {
 flex: 33%;
 padding: 0.33em;
}

#content h1,
nav h2 {
  margin-top: 0;
}

footer {
  background-color: #faeacd;
  padding: 1.25em;
  width: 93%;
  margin: 1em auto;
  border: solid 0.2em black;
}

footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

footer li {
  font-weight: bolder;
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em 0 1em;
}

.footer_callouts {
  display: block;
}

code {
  text-transform: none;
}
