body, html {
  background-color: #070708;
}

header {
  background-image: url("../img/sac2019.png");
}

#title span {
  color: #9aa346;
}

#content, nav, footer {
  background-color: #e879b6;
}

#output {
  border: solid .1em black;
  padding: 1em;
  width: 40%;
  margin-bottom: 1em;
  text-transform: none;
}
