body, html {
  background-color: #191a20;
}

header {
  background-image: url("../img/sf2014.png");
}

#title span {
  color: #fc7e36;
}

#content, nav, footer {
  background-color: #62fbed;
}

.output {
  border: solid .1em black;
  padding: 1em;
  width: 40%;
  margin-bottom: 1em;
}

code {
  text-transform: none;
}
