body, html {
  background-color: #28241d;
}

header {
  background-image: url(../img/berlin-schoneberg.png);
}

#title span {
  color: #a4d6e7;
}

#content, nav, footer {
  background-color: #ececdc;
}

#output {
  border: solid .1em black;
  padding: 1em;
  width: 95%;
  margin: 2em auto 1em auto;
}

/* https://github.com/wmodes/art101/blob/256f9ea9c4c6d77d2f6056b7125c68b276c8bb17/lab13/css/index.css#L26 */
#output p {
    margin-top: 0;
    margin-bottom: 0;
}

#output.cols {
    -webkit-column-width: 10em; /* Chrome, Safari, Opera */
    -moz-column-width: 10em; /* Firefox */
    column-width: 10em;
}
