body, html {
  background-color: #003661;
}

header {
  background-image: url("../img/paris-7th.png");
}

#title span {
  color: #f2f200;
}

#content, nav, footer {
  background-color: #b1b4b3;
}

#comic {
  margin: 1em auto 1em auto;
  max-width: 70%;
}

#output img {
  width: 75%;
  height: auto;
  margin: 1.5em auto 3em auto;
  display: block;
}

#output h3 {
  text-align: center;
}

#btn-grp {
  text-align: center;
  margin-top: 1em;
}

button {
  width: 20%;
  margin-bottom: 1em;
  transition-duration: 0.4s;
  text-transform: lowercase;
  cursor: pointer;
  background-color: #97efff;
  color: black;
  border: .2em solid #003661;
}

button:hover {
  background-color: #f4f0ac;
  color: #003661;
}

.comic-button {
  display: none;
  width: auto;
  margin: .5em;
  padding: .5em;
}
