body, html {
  background-color: #141e33;
}

header {
  background-image: url("");
}

#title span {
  color: #ebbd55;
}

#content, nav, footer {
  background-color: #e0dcd9;
}

#comic {
  margin: 1em auto 1em auto;
  max-width: 70%;
}

#output img {
  width: 75%;
  height: auto;
  margin: 1.5em auto 3em auto;
  display: block;
}

#output h3 {
  text-align: center;
}

#btn-grp {
  text-align: center;
  margin-top: 1em;
}

button {
  width: 20%;
  margin-bottom: 1em;
  transition-duration: 0.4s;
  text-transform: lowercase;
  cursor: pointer;
  background-color: #9babd7;
  color: black;
  border: .2em solid #215da4;
}

button:hover {
  background-color: #215da4;
  color: white;
}

.comic-button {
  display: none;
  width: auto;
  margin: .5em;
  padding: .5em;
}
