body, html {
  background-color: #290503;
}

header {
  background-image: url("../img/paris11arr2019.png");
}

#title span {
  color: #f9f9fb;
}

#content, nav, footer {
  background-color: #39dddc;
}

button {
  margin-bottom: 1em;
  text-transform: lowercase;
}

.special {
  color: rgb(75,10,20);
  border: solid .1em black;
  padding: 1em;
}

.button-special {
  background: linear-gradient(90deg, rgba(75,10,20,1) 0%, rgba(242,149,64,1) 100%);
  color: white;
}
