body, html {
  background-color: #28241d;
}

header {
  background-image: url("../img/munich-wrench.png");
}

#title span {
  color: #a4d6e7;
}

#content, nav, footer {
  background-color: #ececdc;
}

img {
  width: 100%;
}

.row {
 display: flex;
}

.column {
 flex: 50%;
 padding: 5px;
}
