body, html {
  background-color: #010233;
}

header {
  background-image: url("../img/hamburg-karol.png");
}

#title span {
  color: #fdd139;
}

#content, nav, footer {
  background-color: #c8cbc8;
}

button {
  margin-bottom: 1em;
  text-transform: lowercase;
}

#script {
  border: solid .1em black;
  padding: 1em;
  width: 95%;
  margin: 2em auto 1em auto;
  background-color: #70b659;
}

.credit {
  font-size: 75%;
}
