body, html {
  background-color: #01044d;
}

header {
  background-image: url("../img/paris.png");
}

#title span {
  color: #d5dbdd;
}

#content {
  background-color: #aab0b9;
  margin: 1em auto;
}

#labs {
  background-color: #aab0b9;
}
